  .map {
    position: relative;
    overflow: hidden;
  }

  .layer {
    position: absolute;
  }

  .tile {
    position: absolute;
    width: 256px;
    height: 256px;
  }

  path {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-linecap: round;
  }

  /*old water: #9dd8c9
  old park: #88D18A*/


  .earth-layer { fill: none; stroke: #ffcc66; stroke-width: 1.5px; }
  .water-layer, .river, .stream, .canal { fill: none; stroke: #9DD9D2; stroke-width: 1.5px; }
  .water, .ocean { fill: #9DC9D8; }
  .riverbank { fill: #9DD9D2; }
  .water_boundary, .ocean_boundary, .riverbank_boundary { fill: none; stroke: #93cbc4; stroke-width: 0.5px; }
  .major_road { stroke: #fb7b7a; stroke-width: 1px; }
  .minor_road { stroke: #999; stroke-width: 0.5px; }
  .highway { stroke: #FA4A48; stroke-width: 1.5px; }
  .buildings-layer { stroke: #987284; stroke-width: 0.15px; }
  .supermarket { fill: #e600ac; stroke: #e600ac; stroke-width: 2px; }
  .university, .college { fill: #c63939; stroke: #88D18A; stroke-width: 0.5px; }
  .airport { fill: #9e2e2e; stroke: #88D18A; stroke-width: 0.5px; }
  .park, .nature_reserve, .wood, .protected_land { fill: #77b300; stroke: #88D18A; stroke-width: 0.5px; }
  .pier { fill: #fff; stroke: #fff; stroke-width: 0.5px; }
  .rail { stroke: #503D3F; stroke-width: 0.5px; }